[*.cs]

# CA1857: A constant is expected for the parameter
dotnet_diagnostic.CA1857.severity = suggestion

# CS1574: XML comment has cref attribute that could not be resolved
dotnet_diagnostic.CS1574.severity = suggestion

# IDE0018: Inline variable declaration
dotnet_diagnostic.IDE0018.severity = silent

# IDE0039: Use local function
dotnet_diagnostic.IDE0039.severity = silent

# IDE0057: Substring can be simplified
dotnet_diagnostic.IDE0057.severity = silent

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = silent

# NUnit2005: Consider using Assert.That(actual, Is.EqualTo(expected)) instead of Assert.AreEqual(expected, actual)
dotnet_diagnostic.NUnit2005.severity = silent
