[*.cs]

# IDE0018: Inline variable declaration
dotnet_diagnostic.IDE0018.severity = silent

# IDE0039: Use local function
dotnet_diagnostic.IDE0039.severity = silent

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# NUnit2005: Consider using Assert.That(actual, Is.EqualTo(expected)) instead of Assert.AreEqual(expected, actual)
dotnet_diagnostic.NUnit2005.severity = silent
