<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
    <RunConfiguration>
        <EnvironmentVariables>
            <!-- List of environment variables we want to set
            -->
            <COMPlus_EnableSSSE3>1</COMPlus_EnableSSSE3>
            <COMPlus_EnableAVX2>1</COMPlus_EnableAVX2>
            <COMPlus_EnableAVX512F>1</COMPlus_EnableAVX512F>
        </EnvironmentVariables>
    </RunConfiguration>
</RunSettings>
