@page "/showBenchmark"
@using System.Text
@using System.Diagnostics
@using Zyl.VectorTraits.Benchmarks

<PageTitle>Show benchmark</PageTitle>

<h1>Show benchmark</h1>

<button class="btn btn-primary" @onclick="OnTest" disabled=@IsTaskRunning>Test</button>
&nbsp;<span>@statePercentage</span>
<br />
<InputCheckbox @bind-Value="AllowFakeBenchmark" />AllowFakeBenchmark
<br />
<InputTextArea @bind-Value="resultText" readonly rows="30" style="width: 95%" />

@code {
    private bool IsTaskRunning = false;
    private bool AllowFakeBenchmark = false;
    private string resultText = "";
    private string statePercentage = "";

    private async Task OnTest() {
        StringWriter writer = new StringWriter();
        writer.WriteLine("VectorTraits.Benchmarks.Wasm");
        writer.WriteLine();
        BenchmarkUtil.AllowFakeBenchmark = AllowFakeBenchmark;
        // run.
        //await OnTest_Multithread(writer);
        await OnTest_Coroutine(writer);
    }

    [Obsolete("WebAssembly for .NET 8 still doesn't support multithread.")]
    private async Task OnTest_Multithread(TextWriter writer) {
        IsTaskRunning = true;
        Timer timer = new Timer(TimeCallBack, null, 1000, 1000);
        try {
            resultText = "";
            statePercentage = "";
            await Task.Factory.StartNew(() => OnTestCore(writer), TaskCreationOptions.LongRunning);
        } catch (Exception ex) {
            System.Diagnostics.Debug.WriteLine(ex);
            writer.WriteLine(ex);
        } finally {
            IsTaskRunning = false;
        }
        timer.Dispose();
        statePercentage = "";
        // Show.
        resultText = writer.ToString();
        StateHasChanged();
        //
        void TimeCallBack(object? state) {
            try {
                resultText = "" + writer?.ToString();
                InvokeAsync(StateHasChanged);
            } catch (Exception ex) {
                Debug.WriteLine(ex);
            }
        }
    }

    private void OnTestCore(TextWriter writer) {
        string[] args = { };
        string indent = "";
        writer.WriteLine();
        BenchmarkUtil.OutputEnvironment(writer, indent);
        //TraitsOutput.ParseWaitDebugAndReadKey(args);
        writer.WriteLine();
        //BenchmarkUtil.ParseCommand(args);
        BenchmarkMain.RunBenchmark(writer, indent, onBefore);
        writer.WriteLine();
        AloneTestUtil.AloneTestByCommand(writer, args);

        void onBefore(double percentage, string title) {
            Debug.WriteLine(percentage);
            try {
                statePercentage = string.Format("{0:0.00}%: {1}", percentage, title);
                resultText = "" + writer?.ToString();
                InvokeAsync(StateHasChanged);
            } catch (Exception ex) {
                Debug.WriteLine(ex);
            }
        }
    }

    private async Task OnTest_Coroutine(TextWriter writer) {
        IsTaskRunning = true;
        try {
            resultText = "";
            statePercentage = "";
            await OnTestCoreAync(writer);
        } catch (Exception ex) {
            System.Diagnostics.Debug.WriteLine(ex);
            writer.WriteLine(ex);
        } finally {
            IsTaskRunning = false;
        }
        statePercentage = "";
        // Show.
        resultText = writer.ToString();
        StateHasChanged();
    }

    private async Task OnTestCoreAync(TextWriter writer) {
        string[] args = { };
        string indent = "";
        writer.WriteLine();
        BenchmarkUtil.OutputEnvironment(writer, indent);
        //TraitsOutput.ParseWaitDebugAndReadKey(args);
        writer.WriteLine();
        //BenchmarkUtil.ParseCommand(args);
        await BenchmarkMain.RunBenchmarkAsync(writer, indent, onBefore);
        writer.WriteLine();
        AloneTestUtil.AloneTestByCommand(writer, args);

        async Task onBefore(double percentage, string title) {
            Debug.WriteLine(percentage);
            try {
                statePercentage = string.Format("{0:0.00}%: {1}", percentage, title);
                resultText = "" + writer?.ToString();
                await InvokeAsync(StateHasChanged);
                await Task.Delay(1);
            } catch (Exception ex) {
                Debug.WriteLine(ex);
            }
        }
    }

    private void AppendLine(string str) {
        if (resultText.Length > 0x10000) {
            resultText = "";
        }
        resultText += str + Environment.NewLine;
    }

}
